<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members only</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <% if(locals.user){ %>
        <main class="dashboard">
            <nav>
                <div class="nav-left"><a href="/">Members Only Club</a></div>
                <div class="nav-middle">
                    <div class="flex-username">
                        <div class="user-name">
                            <%=user.first_name%>
                        </div>
                        <div class="plus">+</div>
                    </div>

                </div>
                <div class="nav-right">
                    <div class="premium"><a href="/premium">Premium</a></div>
                    <div class="logout"><a href="/logout">Log out</a></div>
                </div>
            </nav>
            <section class="add-message-container">
                <form class="add-msg" action="/add-msg" method="post">
                    <input type="hidden" name="userId" id="userId" value="<%= user.id %>">
                    <div>
                        <p class="label">
                            <label for="title">Title</label>
                        </p>
                        <input type="text" name="title" id="title" required>
                    </div>
                    <div>
                        <p class="label">
                            <label for="body">Share your thoughts!</label>
                        </p>
                        <textarea name="body" id="body" rows="4" cols="50"></textarea required>
                    </div>
                    <button class="create-btn" type="submit">Create</button>
                </form>
            </section>
            <section class="messages-section">
                <div class="swiper">
  <!-- Additional required wrapper -->
   <div class="swiper-wrapper">
     <% if(message.length > 0 ){ 
        message.forEach(msg => {
            %> <div class="swiper-slide">
                    <div class="msg-top-flex">
                        <div class="msg-user">
                            <% if(user.membership_status === 'premium'){ %>
                            <div class="firstname">
                                <%=msg.first_name%></div><% } else { %>
                                    <div class="firstname">Anonymous</div>
                            <% } %>
                            <div class="lastname">
                                <% if(user.membership_status === 'premium'){ %>
                                <%=msg.last_name%><% } else { %>
                                    <%=msg.last_name.charAt(0)%>.<% } %>
                                </div>
                        </div>
                     <div class="msg-time"><%=msg.created_at.toLocaleString()%></div>
                    </div>
                    
                    <div class="msg-title"><%=msg.title%></div>
                    
                    <div class="msg-body"><%=msg.body%></div>
                    
            </div>
        <%}) } %>
   </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
            </section>
        </main>



        <%} else { %>
            <main class="homepage-main">
                <form class="form-homepage" action="/login" method="post">
                    <div class="login-text">Login</div>
                    <div>
                        <p class="label"><label for="email">Username</label></p>
                        <input type="email" id="email" name="email">
                    </div>
                    <div>
                        <label class="label" for="password">password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <button class="submit-btn" type="submit">Sign in</button>
                    <div><a class="a-sign" href="/signup">Don't have an acocut? Sign up!</a></div>
                </form>
            </main>
            <% } %>

</body>
<script src="/home.js"></script>
</html>